<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>Vinyl</title>
  </head>
  <body>
  <div class='d-flex flex-column body'>

      <div class='d-flex justify-content-end nav'>
        <div class='mr-auto logo'>Vinyl</div>
        <div class='nav-options'>Login</div>
        <div class='nav-options'>SignUp</div>
      </div>

    <div class='jumbotron'></div>
    <div class='d-flex flex-row albums-reviews'>
     <div class='flex-column  albums'>
       <h2>Albums</h2>
       <ul class='album-list'>
         <div class='album-name'>
           <h5>Album Title</h5>
           <p><i>Artist Name</i></p>

           <h5>Album Title</h5>
           <p><i>Artist Name</i></p>
         </div>
       </ul>
    </div>
    <div class='d-flex flex-column albums'>
      <h2>Recent Reviews</h2>
      <div class= 'd-flex flex-column review'>
        <div class='d-flex flex-row justify-content-between album-date'>
          <div class='review-album-name'>
            <h5>Album Name</h5>
          </div>
          <div class='review-album-date'><i> Review Date</i></div>
        </div>
        <div class='review-text'>
          You smart, you loyal, you a genius. The key to more success is to have a lot of pillows. You do know, you do know that they don’t want you to have lunch. I’m keeping it real with you, so what you going do is have lunch. I’m up to something. Life is what you make it, so let’s make it. They key is to have every key, the key to open every door.
        </div>
        <div class='d-flex justify-content-end review-by'><i>by : Jeff</i></div>
      </div>
    </div>
  </body>
</html>
